body {
	color: ;
	background-color: #00796B; 
}

h5{
	padding-left: .80em;
	padding-right: .80em;
}

.card-image {
	border-radius: 50%;
	overflow: hidden;
	width: 95px;
	height: 95px;
	margin-top: 3em;
	margin-left: 1em;	
}

.material-icons{
	margin-left: .50em;
}

.brand-logo{
	margin-left: .5em;
}

#back-panel{
	margin-top: 10em;
	background-color: #F5F5F5;
}

#twitch-display{
	margin-top: 2.5em;
}

.on{
	color: #1B998B;
	margin-left: .20em;
	font-size: 20px;
}

.off{
	color:  #F44447;
	margin-left: .20em;
	font-size: 20px;
}